* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top
}
ul,
ol {
  list-style: none
}

.blind,
caption span,
legend {
overflow: hidden;
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
clip: rect(0, 0, 0, 0);
}


button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer
}
button:disabled {
  cursor: default;
}
button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}
input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
  border: 0;
}
input::-ms-clear,
input::-ms-reveal{
  display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
  display:none;
}
a {
  text-decoration: none
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0
}